.columns-section {
    @include block-standard-spacing;
    @include flex-between;
    .column-content {
        @include spacing-content;
        margin-top: $spacing-l;
        @include md {
            width: 50%;
            margin-top: 0;
        }
        @include lg {
            width: 40%;
        }
    }

    .column-image-wrapper {
        @include md {
            width: 50%;
        }
        @include lg {
            width: 60%;
        }
        .column-image {
            @include md {
                min-height: 550px;
            }
            @include lg {
                min-height: 800px;
            }
        }
    }
}