*, *::before, *::after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: $main-font;
    color: $color-primary;
}

img {
    object-fit: cover;
    object-position: center;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}