a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $font-s;
    font-weight: 600;
}

ul {
    display: block;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

li {
    list-style: none;
}

p {
    margin: 0;
}

.white {
    color: $color-light;
}

.heading {
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.3;
    margin: $spacing-s 0;
    font-size: $font-l;
    @include sm {
        font-size: $font-xl;
        margin: $spacing-m 0;
    }
    @include lg {
        font-size: $font-xxl;
        margin: $spacing-l 0;

    }
}

.heading-large {
    font-weight: 700;
    font-size: $font-hero-s;
    @include sm {
        font-size: $font-hero-m;
        margin: $spacing-s 0;
    }
    @include md {
        font-size: $font-hero-l;

    }
    @include lg {
        font-size: $font-hero-xl;
    }
}

.heading-small {
    font-size: $font-s;
    font-weight: 400;
    line-height: 1.2;
    margin: $spacing-xs 0;
}

.text {
    line-height: 1.8;
    font-size: $font-s;
    margin: $spacing-s 0;
    text-align: justify;
    @include sm {
        margin: $spacing-m 0;
    }
}