// breakpoints

@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }

 @mixin rwd($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
 }

//  spacing

@mixin spacing-content {
    padding: 0 $spacing-content-s;
    @include sm {
        padding: 0 $spacing-content-m;
    }
    @include xl {
        padding: 0 $spacing-content-l;
    }
    
}

//  utils

@mixin flex-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin fixed-image-wrapper {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-hero;
    overflow: hidden;
}

@mixin  grid-section {
    @include flex-column;
    @include lg {
        @include flex-between;
        align-items: flex-start;
    }
}