.btn {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    padding: $spacing-s $spacing-m;
    margin: $spacing-s 0;
    transition: background-color 0.3s $transition;
    @include sm {
        padding: $spacing-s $spacing-l;
        margin: $spacing-m 0;
    }
}

.btn-contained {
    background-color: $color-light;
    &:hover, &:focus {
        background-color: $grey-300;
    }
}

.btn-primary {
    background-color: $color-primary;
    color: $color-light;
    &:hover, &:focus {
        background-color: $color-primary-dark;
    }
}

.btn-wrapper-end {
    display: flex;
    justify-content: flex-end;
}