.wpcf7 {
    .wpcf7-form {
        p {
            margin: $spacing-m 0;
            padding-bottom: $spacing-s;
            position: relative;
            label {
                pointer-events: none;
                width: 100%;
                font-weight: 600;
                transition: all 0.15s linear;
                font-size: $font-s;
            }
            span {
                // position: relative;
                input, textarea {
                    margin-top: $spacing-s;
                    padding: 16px $spacing-s $spacing-s;
                    width: 100%;
                    border: none;
                    border-bottom: 2px solid $grey-400;
                    background-color: $grey-200;
                    color: $color-primary;
                    font-size: $font-s;
                    transition: all 0.15s linear;
                    &:hover {
                    background-color: $grey-300;
                    border-bottom: 2px solid $grey-500;

                    }
                    &:focus {
                        outline: none;
                        border-bottom: 2px solid $color-primary;
                        background-color: $grey-300;
                    }
                }
                textarea {
                    height: 140px;
                }
                .wpcf7-not-valid-tip {
                    position: absolute;
                    // top: 200%;
                    padding-top: $spacing-xxs;
                    font-weight: 600;
                    font-size: 0.8em;
                }
            }
           
        }
        .wpcf7-response-output {
            border: none;
            margin: $spacing-m 0;
            padding: 0;
            font-size: $font-s;
            font-weight: 600;
        }
        .submit-wrapper {
            @include flex-column;
            align-items: flex-end;
            position: relative;
        }
        .wpcf7-submit {
            width: 120px;
            padding: $spacing-s 0;
            border: 2px solid $color-primary;
            background-color: $color-primary;
            color: $color-light;
            font-weight: 600;
            text-transform: uppercase;
            cursor: pointer;
            font-size: $font-s;
            letter-spacing: 1px;
            text-align: center;
        }
        .ajax-loader {
            width: 120px;
            height: 44px;
            padding: 0;
            margin: 0;
            position: absolute;
            right: 0;
            top: 0;
            background-color: $color-primary;
            opacity: 1;
            border-radius: 0;
            &::before {
                display: none;
            }
            &::after {
                content: '';
                position: absolute;
                top: calc(50% - 15px);
                left: calc(50% - 15px);
                border-radius: 50%;
                width: 30px;
                height: 30px;
                border: 2px solid $grey-400;
                border-top: 2px solid $color-light;
                animation: spin 0.8s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
            }

        }
    }
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
  }
}