.cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z-cover;
    background-color: $grey-200;
    transform: translateY(-100%);
}

.cover-leave-active,
.cover-leave-active .cover {
    transition: transform 0.8s ease-in-out;
    @include lg {
        transition: transform 1s ease-in-out;
    }
}

.cover-enter-active,
.cover-enter-active .cover {
    transition: transform 0.8s ease-in-out 0.4s;
    @include lg {
        transition: transform 1s ease-in-out;
    }
}

.cover-leave {
    .cover {
        transform: translateY(-100%);
    }
}

.cover-leave-to {
    .cover {
        transform: translateY(0);
    }
}

.cover-enter {
    .cover {
        transform: translateY(0);
    }
}

.cover-enter-to {
    .cover {
        transform: translateY(100%);
    }
}