.frontpage-header {
    @include fixed-image-wrapper;
    .image-wrapper {
        height: 100%;
        .header-image {
            z-index: -1;
            height: 100%;
            background-position: 75% 75%;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: $color-primary;
                opacity: 0.7
            }
        }
    }
    .header-inner {
        height: 100%;
        transform: translateY(-100%);
        @include flex-column;
        @include spacing-content;
        padding-top: 10%;
        @include sm {
            padding-top: 10%;
        }
        @include xl {
            padding-top: 8%;
        }
        * {
            z-index: $z-content;
            max-width: 280px;
            @include sm {
                max-width: 60vw;
            }
            @include lg {
                max-width: 50vw;
            }
            @include xl {
                max-width: 40vw;
            }
        }
        .text {
            font-weight: 600;
            @include sm {
                font-size: $font-m;
                margin: $spacing-s 0;
            }
            
            @include lg {
                max-width: 40vw;
            }

            @include xl {
                max-width: 30vw;
            }
        }
    }
}