.content {
    background-color: $color-light;
}

.content-margin {
    margin-top: 100vh;
}

.content-margin-responsive {
    margin-top: 50vh;
    @include lg {
        margin-top: 100vh;
    }
}

.content-narrow {
    max-width: 1280px;
    margin: 0 auto;
}