.content {
    background-color: $color-light;
}

.content-margin {
    margin-top: 100vh;
}

.content-margin-responsive {
    margin-top: 50vh;
    @include lg {
        margin-top: 100vh;
    }
}

.content-narrow {
    @include block-standard-spacing-centered;
    @include lg {
        max-width: 1280px;
    }
    padding: 0 $spacing-m;
    @include md {
       padding: 0 $spacing-xl;
    }
}
