.site-header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   @include flex-between;
   padding: $spacing-m;
   background-color: $color-light;
   z-index: $z-header;
   @include lg {
   padding: $spacing-m $spacing-l;
   box-shadow: $shadow-primary;
   }
   @include xl {
    padding: $spacing-m $spacing-xl; 
    }
}

.nav-wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: $z-nav;
    transform: scaleY(0);
    transform-origin: top;
    background-color: $color-secondary;
    transition: 0.6s ease-in-out 0.4s;
    @include lg {
        position: static;
        width: auto;
        height: auto;
        transform: none;
        background-color: transparent;
        transition: none;
    }
    .main-navigation {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include lg {
            display: block;
        }
        .menu {
            ul {
                @include lg {
                    display: flex;
                }
                li {
                    margin: $spacing-s 0;
                    opacity: 0;
                    transform: translateY(10px);
                    transform-origin: bottom;
                    transition: 0.3s ease-in-out 0s;
                    &:nth-child(2) {
                        transition-delay: 0.1s;
                    }
                    @include lg {
                        opacity: 1;
                        transform: none;
                        transition: none;
                        margin: 0 $spacing-s;
                    }
                    a {
                        font-size: $font-m;
                        @include lg {
                            font-size: $font-s;
                        }
                    }
                }
            }
        }
    }
}

.nav-wrapper.active {
    transform: scaleY(1);
    transition: 0.6s ease-in-out 0s;

    .main-navigation {
        .menu {
            ul {
                li {
                    opacity: 1;
                    transform: translateY(0);
                    transition: 0.3s ease-in-out 0.4s;
                    &:nth-child(2) {
                    transition-delay: 0.5s;
                    }
                }
            }
        }
    }
}

.hamburger {
    display: flex;
    flex-direction: column;
    padding: 4px;
    @include lg {
        display: none;
    }
    span {
        width: 36px;
        height: 2px;
        margin: 2px 0;
        background-color: $color-primary;
    }
}